body {
  font-family: 'Gruppo', cursive;
  text-align: center;
  align-items: center;
  flex-flow: row;
}


h1 {
  display: inline-block;
  font-size: 67px;
  margin-bottom: 15px;
  margin-top: 5px;
  text-align: center;
}


#newArt{
  font-family: 'Gruppo', cursive;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 67px;
  cursor: pointer;
  outline: none;
}

#newArt:hover {
  background-color: gold;
}

#slider {
  width: 600px;
  height: 400px;
  overflow: hidden;
  margin: 30px auto;
}

#slider>Img {
  width: 600px;
  height: 400px;
  float: left;
  display: none;
}

.landArt {
  height: 90vh;
  width: 100vw;
  
  /* object-fit: cover; */
}

#painting{
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  body {
      font-family: 'Gruppo', cursive;
      display: flex;
      height: 100vh;
      width: 100vw;


  }
}
@media only screen and (max-width: 600px) {
  body {
      font-size: 30px;
  }

}